<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Eat-Da-Burger</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title">Burgers to Devour!</h3>
        <ul>
          {{#each burgers}}
          {{#unless this.devour}}
          <li>
            {{this.burger_name}}
            <button class="devourbtn" data-id="{{this.id}}">DEVOUR!!</button>
          </li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title">Nom Nom - All Gone!</h3>
        <ul>
          {{#each burgers}}
          {{#if this.devour}}
          <li>
            {{this.burger_name}}
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


<form class="create-form">
  <h2>Add a burger</h2>
  <div class="form-group">
    <input type="text" id="burger" name="name" placeholder="What's your burger?">
  </div>
  <button type="submit">Add burger</button>
</form>