li {
  padding: 5px;
  margin: 5px;
  background: #faf6d7;
  max-width: 400px;

}

.create-form {
  background: url("./images/burgers.jpg");
  padding-bottom: 20px;
  margin-bottom: 25px;
  padding-left: 30px;
}


.devourbtn {
  float: right;
  background: black;
  color: white;
  font-display: bold;
}

.jumbotron {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(255, 217, 0);
  background-repeat: no-repeat;
  background-image: url("./images/hatBurger.jpg");
  background-position: center;
  margin-bottom: 0;
}
